body {
    background-color: #111827;
}

.modal {
    display: none;
}

.modal.is-open {
    display: flex;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ef4444;
    /* red-500 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid #111827;
    /* Cor de fundo do body */
}

.tab-active {
    border-color: #8b5cf6;
    color: #c4b5fd;
}

.calendar-day.selected {
    background-color: #c4b5fd;
    color: #111827;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b5563;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #8b5cf6;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.calendar-day.has-event {
    color: white;
    border-radius: 50%;
    font-weight: bold;
}
